<div *ngIf="this.loginForm.hasError && this.loginForm.touched">
  <div *ngFor="let error of errorList" >
    <div class="alert alert-danger m-3">
      {{error}}
  </div>
  </div>
</div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <img src="assets/bank-logo.png">  
  </div>
  <div class="col-4"></div>
</div>

<div class="wrapper">
 
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
    <h2 class="form-signin-heading">Login</h2>
    
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <label >Usuário</label> 
        <input type="text" formControlName="email" class="form-control" [class.is-invalid]="!this.loginForm.controls.email.valid && this.loginForm.controls.email.touched" >
        <div class="invalid-feedback"  [hidden]="!this.loginForm.controls.email.errors?.email && this.loginForm.controls.email.touched" >
          O valor digitado não é um email.
        </div>
        <div class="invalid-feedback" [hidden]="!this.loginForm.controls.email.errors?.required && this.loginForm.controls.email.touched" >
          O campo não pode ser nulo.
        </div>
      </div>
     
    </div>     
    <div class="form-row">
      <div class="col-md-12 ">
        <label>Senha</label>
        <input type="password" formControlName="senha" class="form-control " [class.is-invalid]="!this.loginForm.controls.senha.valid && this.loginForm.controls.senha.touched" >
        <div class="invalid-feedback" *ngIf="this.loginForm.controls.senha.errors && this.loginForm.controls.senha.touched" >
          {{ this.loginForm.controls.senha.errors?.required ? "O campo não pode ser nulo." : "O valor precisa ter no minimo 5 dígitos" }}
        </div>
        
      </div>
     
    </div>   
    
  
   
    <button type="submit" class="btn btn-lg btn-primary btn-block mt-5" type="submit">Login</button>   
  </form>
  
</div>