<div class="container">
  <h3 class="text-center">Converse com a AIB</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="mesgs">
        <div class="msg_history" *ngFor="let item of conversa">
          <div class="incoming_msg" *ngIf="item.id == 2">
            <div class="incoming_msg_img">
              <img src="../../../assets/user-profile.png" />
            </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>{{ item.msg }}</p>
                <span class="time_date">
                  {{ item.data | date: "h:mm a | MMM d" }}</span
                >
              </div>
            </div>
          </div>

          <div class="outgoing_msg" *ngIf="item.id == 1">
            <div class="sent_msg">
              <p>{{ item.msg }}</p>
              <span class="time_date">
                {{ item.data | date: "h:mm a | MMM d" }}</span
              >
            </div>
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input
              type="text"
              placeholder="Digite uma mensagem"
              (keyup.enter)="submit()"
              [(ngModel)]="inputMsg"
            />
            <button class="msg_send_btn" type="button" (click)="submit()">
              <img src="../../../assets/send.png" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-sm-3 col-sm-offset-4 frame">
    <ul >
        <li *ngFor="let item of conversa">
            <p>{{ item.user }} disse:</p>
            {{item.msg}} - {{ item.data | date: 'dd/MM/yyyy'}}
        </li>
       
    </ul>
    <div>
        <div class="msj-rta macro">                        
            <div class="text text-r" style="background:whitesmoke !important">
                <input class="mytext" (keyup.enter)="submit()" [(ngModel)]="inputMsg" placeholder="Digite uma mensagem"/>
            </div> 

        </div>
        <div style="padding:10px;">
            <span (click)="submit()" style="cursor: pointer;">Enviar</span>
        </div>                
    </div>
</div>        -->
